<form  #form="ngForm" >
    <div class="container ppal-content">
        <div class="ppal-title">
            {{'FORM.MUDANZAS.TITULO' | translate}} 
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{'FORM.MUDANZAS.CEDULA' | translate}}</span>
                    </div>
                    <input type="number" [(ngModel)]="mudanzaData.cedulaParticipante" name="cedulaParticipante"  aria-label="dedula" placeholder="{{'FORM.MUDANZAS.INGRESE_CEDULA' | translate}}" class="form-control" required>
                    
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <input (change)="onFileChange($event)" (click)="test()" type="file" id="fileUpload" [disabled]="!form.valid">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col data-table-content">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">{{'FORM.MUDANZAS.CEDULA' | translate}}</th>
                            <th scope="col">{{'FORM.MUDANZAS.FECHA_EJECUCION' | translate}}</th>
                            <th scope="col">{{'FORM.MUDANZAS.DOCUMENTO' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr mdbTableCol *ngFor="let mudanzaData of mudanzaDataList">
                                <th scope="row" *ngIf="false">{{mudanzaData.cedulaParticipante}}</th>
                                <td>{{mudanzaData.cedulaParticipante}}</td>
                                <td>{{mudanzaData.fechaEjecucion | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>
                                    <div class="colum-button-table">
                                        <img src="assets/images/download.ico"  width="30" style="cursor: pointer" (click)="convertToText(mudanzaData.viajesDiaMax)" title="{{'FORM.MUDANZAS.DESCARGAR_DOCUMENTO' | translate}}">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="mudanzaDataList.length === 0" class="emty-table">
                        {{'GLOBAL.TABLE_EMPTY_DATA' | translate}}
                    </div>
                    <div class="md-divider"> </div>
            </div>
        </div>
    </div>
</form>