.ppal-content{
    margin-top: 10%;

    border-color: #004eff14;
    border-style: inset;
    border-radius: 10px;
    padding: 30px;

}

.ppal-title{
    text-align: center; 
    width: 100%; 
    margin-top: 10px; 
    color:green; 
    font-weight: bold; 
    margin-bottom: 50px
}

.data-table-content{
    margin-top: 30px;
}