/* You can add global styles to this file, and also import other style files */
.md-divider {
    margin-top: 15px;
    margin-bottom: 30px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #E8E8E8;
    width:100%;
}

.emty-table {
    margin-left: 30px;
    margin-top: 10px;
    color: gray;
}

.colum-button-table{
    width: 100%; text-align: center;
}